Aplicando as primeiras functions.

In [11]:
import pandas as pd
import numpy as np

Criando uma tabela com nomes e números de telefone.

In [13]:
dados = [
    ['Nome 1','4299999912'],
    ['Nome 2','4299999913'],
    ['Nome 3','4299999914'],
    ['Nome 4','4299999915'],
]

df=pd.DataFrame(dados,columns=["nome","telefone_completo"])

Criando arquivo em Excel com a tabela criada.

In [14]:
df.to_excel("dados.xlsx",index=False)

Ler o arquivo.

In [69]:
arquivo_lido=pd.read_excel("dados.xlsx")

Ler arquivo sem qualquer instância nula para o atributo telefone_completo.

In [70]:
arquivo_lido_ = (
    arquivo_lido
    .query("~telefone_completo.isna()")
    .assign(telefone_texto= lambda df : df["telefone_completo"].astype(str))
    .assign(telefone_texto= lambda df : df["telefone_texto"].str.replace(".0",""))
    .groupby(["cidade"], as_index=False).agg(
        quantidade = ("nome", np.count_nonzero),
        # cidades = ("cidade", lambda x : ", ".join(x.unique()))
    )
    #query("~nome.isna() and nome.str.contains('3')")
 )

In [72]:
arquivo_lido_

     cidade  quantidade
0  cidade 1           3
1  cidade 2           3