Aplicando as primeiras functions.

In [11]:
import pandas as pd
import numpy as np

Criando uma tabela com nomes e números de telefone.

In [13]:
dados = [
    ['Nome 1','4299999912'],
    ['Nome 2','4299999913'],
    ['Nome 3','4299999914'],
    ['Nome 4','4299999915'],
]

df=pd.DataFrame(dados,columns=["nome","telefone_completo"])

Criando arquivo em Excel com a tabela criada.

In [14]:
df.to_excel("dados.xlsx",index=False)

Ler o arquivo.

In [57]:
arquivo_lido=pd.read_excel("dados.xlsx")

Ler arquivo sem qualquer instância nula para o atributo telefone_completo.

In [58]:
(
    arquivo_lido
    .query("~telefone_completo.isna()")
    .assign(telefone_texto= lambda df : df["telefone_completo"].astype(str))
    .assign(telefone_texto= lambda df : df["telefone_texto"].str.replace(".0",""))
    .groupby(["nome"], as_index=False).agg(
        quantidade = ("nome", np.count_nonzero),
        cidades = ("cidade", lambda x : ", ".join(x))
    )
    #query("~nome.isna() and nome.str.contains('3')")
 )

     nome  quantidade             cidades
0  Nome 1           1            cidade 1
1  Nome 3           1            cidade 1
2  Nome 4           1            cidade 1
3  Nome 5           1            cidade 2
4  Nome 6           2  cidade 2, cidade 2